* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 187, 61);
}

.wrapper {
    width: 90%;
    max-width: 470px;
    background: #000;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

span {
    font-size: 80px;
}

p {
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 25px;
    margin: 30px 0;
    opacity: 0;
}

.fade {
    opacity: 1;
    transition: opacity 1.5s;
}

button {
    background-color: rgb(237, 187, 61);
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}